body{font-family: arial; text-align: center; width: 100%; overflow: hidden; font-size: 12px; background: rgb(17, 17, 17);}
main {display: flex;}
footer{color: white;}
#wrapper{margin: 0 auto; text-align: left; width: 620px;}
#wrapper::after{clear: both; display: block; content:"";}
#left, #centre, #right {float: left; padding: 20px; background-color: #e0dee9;}
#instructions {margin-top: 20px;}
#left {flex-grow: 1;}
#centre {width: 200px; position: relative;}
#right {text-align: center;}

#game {
  height: 100%;
  background: rgb(46, 46, 46);
}
#message {
  font-size: 16px;
  color: #673AB7;
  text-shadow: 0px 0px 20px white;
  font-weight: bold;
  text-align: center;
}

#next-piece {
  margin-left: 10px;
  margin-bottom: 20px;
}

#next-piece::after{clear: both; display: block; content:"";}
.block, #start {
  box-sizing: border-box;
  border: 1px inset rgb(52 57 72 / 50%);
  background-color: #161616;
  text-align: center;
  font-size: 16px;
  color: #999999;
}
#start {cursor: pointer; width: 100%; border-radius: 4px; margin-top: 20px; color: #fff; padding: 10px;}
.block {
  float:left;
  width: 20px;
  height:20px;
  font-size: 11px;
  padding-top: 2px;
}
.red {
  border-top: 1px outset rgb(255 43 6 / 80%);
  border-left: 1px outset rgb(255 43 6 / 60%);
  border-right: 1px outset rgb(255 43 6 / 60%);
  border-bottom: 1px outset rgb(255 43 6 / 70%);
  box-shadow: 0 0 10px 10px rgb(255 43 6 / 10%) inset;
  background-color: #282c38;
}
.green {
  border-top: 1px outset rgb(0 251 48 / 80%);
  border-left: 1px outset rgb(0 251 48 / 60%);
  border-right: 1px outset rgb(0 251 48 / 60%);
  border-bottom: 1px outset rgb(0 251 48 / 70%);
  box-shadow: 0 0 10px 10px rgb(0 251 48 / 10%) inset;
  background-color: #282c38;
}
.blue {
  border-top: 1px outset rgb(73 75 212 / 80%);
  border-left: 1px outset rgb(73 75 212 / 60%);
  border-right: 1px outset rgb(73 75 212 / 60%);
  border-bottom: 1px outset rgb(73 75 212 / 70%);
  box-shadow: 0 0 10px 10px rgb(73 75 212 / 10%) inset;
  background-color: #282c38;
}
.cyan {
  border-top: 1px outset rgb(112 213 254 / 80%);
  border-left: 1px outset rgb(112 213 254 / 60%);
  border-right: 1px outset rgb(112 213 254 / 60%);
  border-bottom: 1px outset rgb(112 213 254 / 70%);
  box-shadow: 0 0 10px 10px rgb(112 213 254 / 10%) inset;
  background-color: #282c38;
}
.yellow {
  border-top: 1px outset rgb(254 253 50 / 80%);
  border-left: 1px outset rgb(254 253 50 / 60%);
  border-right: 1px outset rgb(254 253 50 / 60%);
  border-bottom: 1px outset rgb(254 253 50 / 70%);
  box-shadow: 0 0 10px 10px rgb(254 253 50 / 10%) inset;
  background-color: #282c38;
}
.pink {
  border-top: 1px outset rgb(221 50 252 / 80%);
  border-left: 1px outset rgb(221 50 252 / 60%);
  border-right: 1px outset rgb(221 50 252 / 60%);
  border-bottom: 1px outset rgb(221 50 252 / 70%);
  box-shadow: 0 0 10px 10px rgb(221 50 252 / 10%) inset;
  background-color: #282c38;
}
.orange {
  border-top: 1px outset rgb(255 126 21 / 80%);
  border-left: 1px outset rgb(255 126 21 / 60%);
  border-right: 1px outset rgb(255 126 21 / 60%);
  border-bottom: 1px outset rgb(255 126 21 / 70%);
  box-shadow: 0 0 10px 10px rgb(255 126 21 / 10%) inset;
  background-color: #282c38;
}

#options ul, #options li {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {text-align: center; color: white;}
h2 {font-size: 16px; margin-top: 0;}
