body {
  font-family: "Exo 2", sans-serif;
  touch-action: manipulation;
  text-align: center;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  background: rgb(17, 17, 17);
}

main {
  display: flex;
}

footer {
  color: white;
  text-align: center;
}

#wrapper {
  margin: 0 auto;
  text-align: left;
}

#wrapper::after {
  clear: both;
  display: block;
  content: "";
}

#left,
#centre,
#right {
  float: left;
  padding: 20px;
  background-color: #e0dee9;
}

#instructions {
  margin-top: 20px;
}

#left {
  border-right: 1px solid #826aec7a;
  display: none;
  flex-grow: 1;
}

#centre {
  width: 200px;
  position: relative;
}

#right {
  border-left: 1px solid #826aec7a;
  text-align: center;
}

#game {
  height: 100%;
  min-width: 200px;
  background: rgb(46, 46, 46);
}

#message {
  font-size: 16px;
  color: #673ab7;
  text-shadow: 0px 0px 20px white;
  font-weight: bold;
  text-align: center;
}

#next-piece {
  margin-bottom: 20px;
  min-width: 100px;
}

#next-piece::after {
  clear: both;
  display: block;
  content: "";
}

.block,
.btn {
  box-sizing: border-box;
  border: 1px inset rgb(52 57 72 / 50%);
  background-color: #161616;
  text-align: center;
  font-size: 16px;
  color: #999999;
  user-select: none;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  margin: 5px;
  background: #826aec;
}

#start {
  width: 100%;
  margin: 20px 0 0 0;
  background-color: #161616;
}

.block {
  float: left;
  width: 20px;
  height: 20px;
  font-size: 11px;
  padding-top: 2px;
}

.red {
  border-top: 2px outset rgb(255 43 6 / 80%);
  border-left: 2px outset rgb(255 43 6 / 60%);
  border-right: 2px outset rgb(255 43 6 / 60%);
  border-bottom: 2px outset rgb(255 43 6 / 70%);
  box-shadow: 0 0 10px 10px rgb(255 43 6 / 10%) inset;
  background-color: #282c38;
}

.green {
  border-top: 2px outset rgb(0 251 48 / 80%);
  border-left: 2px outset rgb(0 251 48 / 60%);
  border-right: 2px outset rgb(0 251 48 / 60%);
  border-bottom: 2px outset rgb(0 251 48 / 70%);
  box-shadow: 0 0 10px 10px rgb(0 251 48 / 10%) inset;
  background-color: #282c38;
}

.blue {
  border-top: 2px outset rgb(73 75 212 / 80%);
  border-left: 2px outset rgb(73 75 212 / 60%);
  border-right: 2px outset rgb(73 75 212 / 60%);
  border-bottom: 2px outset rgb(73 75 212 / 70%);
  box-shadow: 0 0 10px 10px rgb(73 75 212 / 10%) inset;
  background-color: #282c38;
}

.cyan {
  border-top: 2px outset rgb(112 213 254 / 80%);
  border-left: 2px outset rgb(112 213 254 / 60%);
  border-right: 2px outset rgb(112 213 254 / 60%);
  border-bottom: 2px outset rgb(112 213 254 / 70%);
  box-shadow: 0 0 10px 10px rgb(112 213 254 / 10%) inset;
  background-color: #282c38;
}

.yellow {
  border-top: 2px outset rgb(254 253 50 / 80%);
  border-left: 2px outset rgb(254 253 50 / 60%);
  border-right: 2px outset rgb(254 253 50 / 60%);
  border-bottom: 2px outset rgb(254 253 50 / 70%);
  box-shadow: 0 0 10px 10px rgb(254 253 50 / 10%) inset;
  background-color: #282c38;
}

.pink {
  border-top: 2px outset rgb(221 50 252 / 80%);
  border-left: 2px outset rgb(221 50 252 / 60%);
  border-right: 2px outset rgb(221 50 252 / 60%);
  border-bottom: 2px outset rgb(221 50 252 / 70%);
  box-shadow: 0 0 10px 10px rgb(221 50 252 / 10%) inset;
  background-color: #282c38;
}

.orange {
  border-top: 2px outset rgb(255 126 21 / 80%);
  border-left: 2px outset rgb(255 126 21 / 60%);
  border-right: 2px outset rgb(255 126 21 / 60%);
  border-bottom: 2px outset rgb(255 126 21 / 70%);
  box-shadow: 0 0 10px 10px rgb(255 126 21 / 10%) inset;
  background-color: #282c38;
}

#options ul,
#options li {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #826aec;
  font-size: 28px;
}

h2 {
  font-size: 16px;
  margin-top: 0;
  text-decoration: underline;
  color: #826aec;
  margin-bottom: 5px;
}

#left,
#centre,
#right {
  padding: 10px;
}

#controls div {
  display: block;
  text-align: center;
}

#controls .btn {
  min-width: 70px;
  height: 50px;
  font-size: 22px;
}

#instructions {
  display: none;
}

@media (min-width: 680px) {

  #left,
  #centre,
  #right {
    padding: 20px;
  }

  #wrapper {
    width: 600px;
  }

  #left {
    display: block;
  }

  #instructions {
    display: block;
  }

  #controls {
    display: none;
  }
}
input[type="checkbox"] {
  position: relative;
  top: 2px;
  margin-left: 0;
}
