body{font-family: arial; text-align: center; width: 100%; overflow: hidden; font-size: 12px;}
main {display: flex;}
#wrapper{margin: 0 auto; text-align: left; width: 620px;}
#wrapper::after{clear: both; display: block; content:"";}
#left, #centre, #right {float: left; width: 140px; padding: 20px}

#left {background-color: #a1a5a8}
#centre {width: 200px; background-color:rgb(183, 183, 183); position: relative;}
#right {background-color: #a1a5a8; text-align: center;}

#game {
  height: 100%;
  background: rgb(46, 46, 46);
}
#next-piece {
  height: 120px;
}
#message {
  font-size: 16px;
  color: rgb(152, 11, 11);
  text-shadow: 0px 0px 20px white;
  font-weight: bold;
  text-align: center;
  border: 3px solid rgb(152, 11, 11);
}

#next-piece {
  background-color: rgb(111, 111, 111);
  width: 100px;
  border: 20px solid rgb(183, 183, 183);;
}
#next-piece::after{clear: both; display: block; content:"";}
#start {cursor: pointer; width: 100%; border-radius: 4px;}
.block, #start {
  box-sizing: border-box;
  border: 3px outset black;
  background-color: rgb(22, 22, 22);
  text-align: center;
  font-size: 16px;
  color: white;
}
.block {
  float:left;
  width: 20px;
  height:20px;
  font-size: 11px;
  padding-top: 2px;
  text-shadow: 0 0 2px black;
}
.red {
  border: 3px outset gray;
  background-color: #FF2B06;
}
.green {
  border: 3px outset gray;
  background-color: #00FB30;
}
.blue {
  border: 3px outset gray;
  background-color: rgb(73, 75, 212);
}
.cyan {
  border: 3px outset gray;
  background-color: #70D5FE;
}
.yellow {
  border: 3px outset gray;
  background-color: #FEFD32;
}
.pink {
  border: 3px outset gray;
  background-color: #DD32FC;
}
.orange {
  border: 3px outset gray;
  background-color: #FF7E15;
}

#options ul, #options li {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {font-size: 16px;}
